
@import "compass/css3";

$button-size: 40px;

.sr-toolbar {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 600;
	width: $button-size;
	height: $button-size;

	&:hover {
		width: ($button-size*2) + 10px;

		#sr-toast-hide {
		visibility: visible;
			@include transform(none);
		}
	}

	.sr-toast-button {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		cursor: pointer;
		height: $button-size;
		width: $button-size;
		opacity: .7;
		@include user-select(none);
		@include transition-duration(.2s);

		&:nth-child(2n) {
			right: 50px;
		}

		&:hover {
			text-decoration: none;
			opacity: .9;
		}

		&:active {
			opacity: 1;
			@include transition-duration(.05s);
		}
	}
}


#sr-toast {
	@include transform(scale(.2));

	&.visible {
		@include transform(none);
		@include transition-timing-function(cubic-bezier(0.000, 0.780, 0.190, 1.270));
	}

	img, span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: auto;
		display: inline-block;
	}
}

#sr-toast-hide {
	visibility: hidden;
	@include transform(scale(0) translateX(50px));
}