
@import "compass/css3";

$toast-size: 45px;
$toast-spacing: 10px;
$toast-window-spacing: 20px;

.sr-toast-container {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 70px;
	width: 60px;
	z-index: 9999999;

	&:hover {
		height: 130px;

		.sr-toast-button {
			pointer-events: auto;

			&:nth-child(2n) {
				transform: none;
				opacity: 1;
			}
		}
	}

	.sr-toast-button {
		position: absolute;
		right: $toast-window-spacing;
		display: block;
		height: $toast-size;
		width: 250px;
		cursor: default;
		transition-duration: .3s;
		z-index: 2;
		pointer-events: none;

		&:hover {

			.sr-icon {
				background-color: #2CA08C;
			}
			.sr-label {
				opacity: 1;
			}
		}

		.sr-label {
			display: block;
			position: absolute;
			top: 27%;
			right: 55px;
			text-align: right;
			opacity: 0;
			transition-duration: .3s;
			color: #FFF;
			background: #333;
			line-height: 19px;
			font-size: 13px;
			font-family: sans-serif;
			border-radius: 2px;
			padding: 3px 5px;

			&::after {
				content: '';
				position: absolute;
				top: 8px;
				left: 100%;
				border: 4px solid transparent;
				border-right: none;
				border-left-color: #333;

			}
		}

		.sr-icon {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			transition-duration: .3s;
			height: $toast-size;
			width: $toast-size;
			background: #333;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 1000px;
			cursor: pointer;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

			&.sr-icon-book {
				background-image: url(chrome-extension://__MSG_@@extension_id__/img/book.png);
			}
			&.sr-icon-close {
				background-image: url(chrome-extension://__MSG_@@extension_id__/img/close.png);
			}
		}

		&:nth-child(1n) {
			bottom: $toast-window-spacing;
		}
		&:nth-child(2n) {
			bottom: $toast-window-spacing + $toast-size + $toast-spacing;
			opacity: 0;
			transform: translateY(-5px);
		}
	}
}