<!doctype html>
<html class="no-js" lang="en" ng-app="speedReadingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Readio Speed Reader</title>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-controller="MainCtrl" ng-class="
    (game.paused ? 'is-paused' : 'is-not-paused') + ' ' +
    (game.hasStarted ? 'has-started' : 'has-not-started') + ' ' +
    
    (settings.nightMode ? 'dark-mode' : 'bright-mode') + ' ' +
    (settings.highlightFocusPoint ? 'highlight-focus-point' : '') + ' ' +
    (settings.useSerifFont ? 'serif-font' : '') + ' ' +
    (settings.showLoadingOverlay ? 'is-loading' : '') + ' ' +
    (settings.init ? 'init' : '') + ' ' +
    (settings.centerFocusPoint ? 'center-focus-point' : '')
 ">

    <div class="front">
        <div class="top-bar">
            <div class="inner-container">
                
                <div class="bar-item">
                    <a class="icon-button outlined has-text" ng-click="startRead()"><i class="fa fa-play"></i>Start reading</a>
                </div>

                <div class="toast" ng-show="settings.toast">
                    <p>{{ settings.toast }}</p>
                </div>

            </div> <!-- inner container -->
        </div> <!-- top bar -->

        <div class="editor-container">
            <textarea ng-model="settings.text" class="editor mousetrap" placeholder="Paste text here..." spellcheck=false ng-paste="formatPastedText($event)"></textarea>
        </div>
    </div>
    
    <div class="read-canvas">
        <div class="inner-content">

            <div class="top-controls">
                <div class="left">
                    <a style="width: 132px;" class="icon-button outlined has-text right-spacing show-if-paused" ng-click="continueRead();" title="Continue"><i class="fa fa-play"></i>Continue</a>
                    <a style="width: 132px;" class="icon-button outlined has-text right-spacing show-if-not-paused" ng-click="pauseRead();" title="Pause"><i class="fa fa-pause"></i>Pause</a>

                    <a class="icon-button icon-shorter" ng-click="pauseRead(); goToPosition('prev_sentence');" title="Jump to previous sentence"><i class="fa fa-step-backward"></i></a>
                    <a class="icon-button icon-shorter" ng-click="pauseRead(); goToPosition('next_sentence');" title="Jump to next sentence"><i class="fa fa-step-forward"></i></a>
                    <a class="icon-button has-text" ng-click="stopRead();" title="Stop">Edit</a>
                </div>

                <div class="right">
                    <div class="relative">
                        <a class="icon-button outlined" title="Show keyboard shortcuts" data-toggle-dropdown="in-read-keyboard-dropdown"><i class="fa fa-keyboard-o"></i></a>
                
                        <div style="width: 320px;" id="in-read-keyboard-dropdown" class="dropdown keyboard-shortcuts-dropdown">
                            <p>Press <span class="key">space</span> to pause/continue,</p>

                            <hr>

                            <p><span class="key">up</span> or <span class="key">W</span> to increase speed,</p>
                            <p><span class="key">down</span> or <span class="key">S</span> to decrease speed,</p>

                            <hr>

                            <p><span class="key">left</span> or <span class="key">a</span> for previous word,</p>
                            <p><span class="key">right</span> or <span class="key">d</span> for next word,</p>

                            <hr>

                            <p><span class="key">ctrl + left</span> or <span class="key">q</span> for previous sentence</p>
                            <p><span class="key">ctrl + right</span> or <span class="key">e</span> for next sentence</p>
                        </div>
                    </div>

                    <div class="relative">
                        <a class="icon-button outlined" title="Show settings" data-toggle-dropdown="in-read-drop-settings"><i class="fa fa-gear"></i></a>
                
                        <div id="in-read-drop-settings" class="dropdown">
                            <div class="form-row">
                                <div class="checkbox">
                                    <div class="check">
                                        <input ng-model="settings.pauseBetweenSentences" id="set-pause-sent-chk" type="checkbox">
                                        <span></span>
                                    </div>
                                    <label for="set-pause-sent-chk">Pause between sentences</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="checkbox">
                                        <div class="check">
                                            <input ng-model="settings.centerFocusPoint" id="set-center-focus-point-chk" type="checkbox">
                                            <span></span>
                                        </div>
                                        <label for="set-center-focus-point-chk">Center focus point</label>
                                    </div>
                                </div>
                                
                                <div class="form-row {{ !settings.centerFocusPoint ? 'disabled' : '' }}">
                                    <div class="checkbox">
                                        <div class="check">
                                            <input ng-model="settings.highlightFocusPoint" id="set-highlight-focus-point-chk" type="checkbox">
                                            <span></span>
                                        </div>
                                        <label for="set-highlight-focus-point-chk">Highlight focus point</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="checkbox">
                                    <div class="check">
                                        <input ng-model="settings.nightMode" id="set-nm-chk" type="checkbox">
                                        <span></span>
                                    </div>
                                    <label for="set-nm-chk">Dark mode</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="checkbox">
                                    <div class="check">
                                        <input ng-model="settings.enableMultiplier" id="set-enable-multiplier-chk" type="checkbox">
                                        <span></span>
                                    </div>
                                    <label for="set-enable-multiplier-chk" title="Slow down or speed up words based on their length.">Smart speed (?)</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="checkbox">
                                    <div class="check">
                                        <input ng-model="settings.useSerifFont" id="set-serifFont-chk" type="checkbox">
                                        <span></span>
                                    </div>
                                    <label for="set-serifFont-chk">Use Serif font style</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <select ng-model="settings.countdownMultiplier"
                                        ng-options="opt.value as opt.label for opt in settings.countdownMultiplierOptions">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <div class="wpm-setting">
                        <a class="icon-button" ng-click="setWPM(settings.wpm - 50)" title="Slower"><i class="fa fa-minus"></i></a>
                        <span>&nbsp;{{ settings.wpm }} wpm&nbsp;</span>
                        <a class="icon-button" ng-click="setWPM(settings.wpm + 50)" title="Faster"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="word-container">
                <div class="focus-point">
                    <div class="scaler">

                        <div class="before">
                            <div class="preview-words">
                                <span ng-if="game.delayedPause" ng-repeat="n in [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]">{{ game.words[game.currentWord + n].value ? game.words[game.currentWord + n].value : '&nbsp;&nbsp;'  }} </span>
                            </div>

                            <span ng-if="settings.centerFocusPoint">{{ game.words[game.currentWord].raw.start || ' ' }}</span>
                        </div>

                        <span class="highlight" ng-if="!settings.centerFocusPoint">&nbsp;{{ game.words[game.currentWord].value ? game.words[game.currentWord].value :'&nbsp;&nbsp;' }}&nbsp;</span>
                        <span class="highlight" ng-if="settings.centerFocusPoint"> {{ game.words[game.currentWord].raw.highlighted ? game.words[game.currentWord].raw.highlighted : '&nbsp;&nbsp;' }} </span>

                        <div class="after">
                            <span ng-if="settings.centerFocusPoint">{{ game.words[game.currentWord].raw.end || ' ' }}</span>

                            <div class="preview-words">
                                <span ng-if="game.delayedPause" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]"> {{ game.words[game.currentWord + n].value ? game.words[game.currentWord + n].value : '&nbsp;&nbsp;' }}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="countdown-bar" class="countdown-bar">
                    <div class="progress"></div>
                </div>
            </div>

            <div id="timeline" class="timeline">
                <rzslider  rz-slider-model="game.currentWord" rz-slider-options="slider.options"></rzslider>
                <span class="time-stats" title="{{ game.percentComplete(true) }}% complete">{{ game.timeToComplete() }}</span>
            </div>

        </div>
    </div>

    <div class="loading-screen">
        <div class="icon">Loading</div>
    </div>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular.rzslider.js"></script>
    <script src="js/libs/mousetrap.js"></script>
    <script src="js/min/app.js"></script>
</body>
</html>
