<!doctype html>
<html class="no-js" lang="en" ng-app="speedReadingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speed read</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
</head>
<body ng-controller="MainCtrl" class="{{ game.paused ? 'is-paused' : 'is-not-paused' }}
                                      {{ game.has_started ? 'has-started' : 'has-not-started' }}
                                      {{ !settings.night_mode ? 'bright-mode' : '' }}
                                      {{ settings.left_align_text ? 'left-align-text' : '' }}
                                      {{ settings.sleep ? 'is-sleeping' : 'is-not-sleeping' }} ">

    <div class="top-bar">
        <div class="inner-container">
            
            <div class="bar-item">
                <h1>Speed read</h1>
            </div>
            
            <div class="bar-item show-if-not-started">
                <button ng-click="startRead()">Start read <i class="fa fa-play"></i></button>
            </div>

            <div class="bar-item show-if-not-started">
                <p>Paste your text below and enjoy the read!</p>
            </div>

            <div class="bar-item show-if-paused">
                <div class="relative">
                    <div class="btn-group">
                        <button style="width: 130px;" ng-click="continueRead()">Continue <i class="fa fa-play"></i></button>
                        <button ng-click="stopRead()">Stop <i class="fa fa-stop"></i></button>
                    </div>
                </div>
            </div>

            <div class="bar-item show-if-not-paused">
                <div class="btn-group">
                    <button style="width: 130px;" class="show-if-running" ng-click="pauseRead()">Pause <i class="fa fa-pause"></i></button>
                    <button ng-click="stopRead()">Stop <i class="fa fa-stop"></i></button>
                </div>
            </div>
            
            <div class="bar-item right">
                <button toggle-dropdown="drop-settings">Settings <i class="fa fa-angle-down"></i></button>
        
                <div id="drop-settings" class="dropdown">
                    <div class="form-row">
                        <label for="set-wpm-sel">Words per minute:</label>
                        <select ng-model="settings.wpm" id="set-wpm-sel" save-on-change>
                            <option value="200">100</option>
                            <option value="200">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350 - Pretty normal</option>
                            <option value="400">400 - A little faster</option>
                            <option value="450">450</option>
                            <option value="500">500</option>
                            <option value="500">550</option>
                            <option value="500">600</option>
                        </select>
                    </div>
                    
                    <div class="form-row">
                        <div class="checkbox">
                            <div class="check">
                                <input ng-model="settings.pause_between_paragraphs" id="set-pause-para-chk" type="checkbox" save-on-change>
                                <span></span>
                            </div>
                            <label for="set-pause-para-chk">Pause between line breaks</label>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="checkbox">
                            <div class="check">
                                <input ng-model="settings.pause_between_sentences" id="set-pause-sent-chk" type="checkbox" save-on-change>
                                <span></span>
                            </div>
                            <label for="set-pause-sent-chk">Pause between sentences</label>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="checkbox">
                            <div class="check">
                                <input ng-model="settings.left_align_text" id="set-leftalign-chk" type="checkbox" save-on-change>
                                <span></span>
                            </div>
                            <label for="set-leftalign-chk">Left align text</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="checkbox">
                            <div class="check">
                                <input ng-model="settings.night_mode" id="set-nm-chk" type="checkbox" save-on-change>
                                <span></span>
                            </div>
                            <label for="set-nm-chk">Night mode</label>
                        </div>
                    </div>

                </div> <!-- drop settings -->
            </div>

        </div> <!-- inner container -->

        <div class="timeline">
            <div range-slider min="0" max="game.words.length" model-max="game.currentWord" pin-handle="min"></div>
        </div>
    </div> <!-- top bar -->

    <textarea ng-model="settings.text" class="editor" placeholder="Paste your text here..." spellcheck=false ng-paste="formatPastedText($event)" save-on-change></textarea>
    
    <div class="word-canvas" ng-click="togglePause()">
        <div class="word-container">
            <div class="center-point">{{ game.words[game.currentWord] }}</div>
        </div>
        <div class="paused-screen">
            <p>Reading paused, {{ game.percentComplete(true) }}% complete. Click anywhere to start, or <button ng-click="continueRead('last_sentence'); $event.stopPropagation();">start from last sentence.</button></p>
        </div>
    </div>
    
    <!-- jQuery only used for range slider support -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="js/angular.rangeSlider.js"></script>
    <script src="js/app.js"></script>
</body>
</html>