<!DOCTYPE html>
<html ng-app="popupApp">
<head>
	<title></title>
	<link rel="stylesheet" href="css/popup.css">
</head>
<body style="width: 400px;" ng-controller="MainCtrl">

	<h2>How to use Readio</h2>
	<ul>
		<li>Select text on page, right click and press Speed Read</li>
		<li>Speed read current page (we'll try and find the correct content)</li>
		<li>Open editor and paste any text</li>
	</ul>

	<p><button ng-click="readCurrentPage()">Read current page</button> <button ng-click="openEditor()">Open editor</button></p>

	<h2>Quick Access Buttons</h2>
	<p>You can access the editor or read the current page through the quick access buttons in the bottom right corner. The Quick Access buttons will show up automatically on any page that is detected readable.</p>

	<p><a href="#" ng-click="quickAccessGlobal = !quickAccessGlobal">{{ quickAccessGlobal ? 'Disable everywhere' : 'Enable everywhere' }}</a> or <a href="#" ng-click="disableQuickAccessJusthere = !disableQuickAccessJusthere">{{ disableQuickAccessJusthere ? 'Enable on ' + tabUrl : 'Disable on ' + tabUrl }}</a></p>

    <script src="js/libs/angular.js"></script>
	<script src="js/min/popup.js"></script>

</body>
</html>